# =========================
# Dependencies
# =========================
node_modules/

# =========================
# Parcel Cache
# =========================
.parcel-cache/

# =========================
# Build Files
# =========================
dist/
build/

# =========================
# Environment Variables
# =========================
.env
.env.local
.env.*.local

# =========================
# Logs
# =========================
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE Files (optional)
# =========================
.vscode/
.idea/